<%= form_for @comment, url: item_comments_path(@item, @comment) do |f| %>
  名前: <%= f.text_field :user_name, placeholder: "必須", value: "名無しさん" %><br>
  <% if @comment.errors.any? %>
    <p class="error_message">
      <%= @comment.errors.messages[:user_name][0] %>
    </p>
  <% end %>
  コメント: <%= f.text_area :content,placeholder: "必須", value: "いいね！" %> <br>
  <% if @comment.errors.any? %>
    <p class="error_message">
      <%= @comment.errors.messages[:content][0] %>
    </p>
  <% end %>
  <%= f.submit "コメントする" %>
<% end %>
