<%= form_for @item do |f| %>
  <div>
    <div class="form_label">
      商品名:
    </div>
    <!-- .form_label -->
    <div class="form_input">
      <%= f.text_field :name %>
      <% if @item.errors.any? %>
        <p class="error_message">
          <%= @item.errors.messages[:name][0] %>
        </p>
      <% end %>
    </div>
    <!-- .form_input -->
  </div>
  <div>
    <div class="form_label">
      価格:
    </div>
    <!-- .form_label -->
    <div class="form_input">
      <%= f.number_field :price, placeholder: "税込み価格", step: "1" %>
      <% if @item.errors.any? %>
        <p class="error_message">
          <%= @item.errors.messages[:price][0] %>
        </p>
      <% end %>
    </div>
    <!-- .form_input -->
  </div>
  <div>
    <div class="form_label">
      画像:
    </div>
    <!-- .form_label -->
    <div class="form_input">
      <%= f.file_field :picture,accept: "image/jpeg" %>
    </div>
    <!-- .form_input -->
  </div>
  <div>
    <div class="form_label">
      発売日:
    </div>
    <!-- .form_label -->
    <div class="form_input">
      <%=  f.date_select(
        :release,
        use_month_numbers: true,
        start_year:     1930,
        end_year:       (Time.now.year),
        default:        Date.new(1989, 1, 1),
        date_separator: '/') %>
    </div>
    <!-- .form_input -->
  </div>
  <%= f.submit "商品登録" %>
<% end %>
