<% if user_signed_in? then %>
  <%= form_for @review, url: item_reviews_path(@item, @review) do |f| %>
  一言レビュー: <%= f.text_field :review, placeholder: "必須", value: "Sample" %> <br>
  <% if @review.errors.any? %>
    <p class="error_message">
      <%= @review.errors.messages[:review][0] %>
    </p>
  <% end %>
  星の数: <%= f.number_field :star, placeholder: "1~10", value: "5" %> <br>
  <% if @review.errors.any? %>
    <p class="error_message">
      <%= @review.errors.messages[:star][0] %>
    </p>
  <% end %>
  <%= f.submit "レビューする" %>←押してみよう！
  <% end %>
  <% else %>
  <p>
    レビュー機能はログインしたら使えるよ☆
  </p>
<% end %>
