<div class="wrapper wrapper_bg">
  <div class="container">
    <%= link_to "戻る", item_path(@item) %>
    <hr>
    <h1>新規編集</h1>
    <div class="panel form">
      <%= render 'form' %>
    </div>
    <!-- .panel .form -->
  </div>
  <!-- .container -->
</div>
<!-- .wrapper .wrapper_bg -->
