<div class="wrapper wrapper_bg">
  <div class="container">

    <% if user_signed_in? %>
    <div class="new_item">
      <%= link_to "商品新規登録", new_item_path %>
    </div>
    <!-- new_item -->
    <% end %>

    <div class="search_form">
      <%= search_form_for @search do |f| %>
      <div class="field">
        <%= f.label :name_cont, "Name"%>
        <%= f.text_field :name_cont, placeholder: "name contains" %>
      </div>
      <!-- .field -->
      <div class="field">
        <%= f.label :price_gteq, "Between" %>
        <%= f.text_field :price_gteq, placeholder: "price" %>
        <%= f.label :price_lteq, "~" %>
        <%= f.text_field :price_lteq, placeholder: "price" %>
        <%= f.submit "Search" %>
      </div>
      <!-- .field -->
    <% end %>
    </div>
    <!-- .search_form -->

    <hr>
    <div class="panel">
      <table class="table">
        <thead>
          <tr>
            <th>
            </th>
            <th>
              <p>
              <%= sort_link(@search, :name, "Name") %>
              </p>
            </th>
            <th>
              <p>
              <%= sort_link(@search, :price, "Price") %>
              </p>
            </th>
            <th>
              <p>
              <%= sort_link(@search, :release, "ReleaseDay") %>
              </p>
            </th>
            <th>
              <p>
              <%= sort_link(@search, :cleate, "CreateDay") %>
              </p>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td>
              <div class="thumbnail">
                <%= image_tag item.picture.url %>
              </div>
            </td>
            <td>
            <%= link_to item.name, item_path(item) %>
            </td>
            <td>
            <%= item.price %>
            </td>
            <td>
            <%= item.release %>
            </td>
            <td>
            <%= item.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- .panel -->
  </div>
  <!-- .container -->
</div>
<!-- .wrapper .wrapper_bg -->
