<div class="wrapper wrapper_bg">
  <div class="container">
    <div class="back">
      <%= link_to "戻る", items_path %>
    </div>
    <hr>
    <div class="panel form">
      <h1>新規登録</h1>
      <%= render 'form' %>
    </div>
    <!-- .panel .form -->
  </div>
  <!-- .container -->
</div>
<!-- .wrapper .wrapper_bg -->
