<div class="wrapper wrapper_bg">
  <div class="container">
    <div class="back">
      <%= link_to "戻る", items_path %>
    </div>
    <hr>
    <div class="item">
      <h1 class="item-name"><%= @item.name %></h1>
      <h1 class="item-image"><%= image_tag @item.picture.url %></h1>
      <h2 class="item-price"><%= @item.price %>円</h2>
      <h2 class="item-release">発売日：<%= @item.release %></h2>
    </div>
    <!-- .item -->
    <div class="edit_del">
    <% if user_signed_in? %>
      <%= link_to "編集", edit_item_path(@item) %>
      <%= link_to "削除", item_path(@item), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
    </div>
    <hr>
    <div class="review">
      <% @item.reviews.each_with_index do |review, index| %>
      <div class="review_box">
        <div class="review_head">
          <%= index + 1 %>：
          <%= review.created_at.strftime("%Y/%m/%d %H:%M:%S ") %>：レビュー評価
        </div>
        <!-- .review_head-->
        <div class="review_body">
          一言「<%= review.review %>」:
          <%= review.star %>
        </div>
        <!-- review_body -->
      </div>
      <!-- .review_box -->
      <% end %>
    </div>
    <!-- .review -->

    <hr>
    <div class="comment">
      <% @item.comments.each_with_index do |comment, index| %>
        <div class="comment_box">
          <div class="comment_head">
            <%= index + 1 %>：
            <%= comment.user_name %>
            <%= comment.created_at.strftime("%Y/%m/%d %H:%M:%S ") %>
          </div>
          <!-- .comment_head -->
          <div class="comment_body">
            <%= comment.content %>
          </div>
          <!-- .comment_body -->
        </div>
        <!-- .comment_box -->
      <% end %>
    </div>
    <!-- .comment -->
    <hr>
    <div class="review_form">
      <%= render 'review_form' %>
    </div>
    <hr>
    <div class="comment_form">
      <%= render 'comment_form' %>
    </div>
  </div>
  <!-- .container -->
 </div>
<!-- .wrapper .wrapper_bg -->
