/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.error_message{
  color: red;
  font-weight: bold;
  font-size: 120%;
}
header p {
  text-align: center;
}
nav {
  text-align: right;
  margin-right: 20px;
}
.back {
  margin-left: 5px;
}
.item {
  text-align: center;
}
.edit_del {
  text-align: right;
}
.review {
  margin-left: 30px;
}
.comment {
  margin-left: 30px;
}
.review_form {
  margin-left: 35px;
}
.comment_form {
  margin-left: 35px;
}
.new_item {
  margin-left: 10px;
  margin-bottom: 10px;
}
.search_form {
  margin-left: 50px;
}
.form {
  margin-left: 30px;
}
.form h1 {
  text-align: center;
}
.form_input {
  padding-left: 10px;
  padding-bottom: 10px;
}
table.table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
}
table.table thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
table.table tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}
table.table td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}
.thumbnail img {
  height: 75px;
}
footer a {
  text-decoration: none;
}
footer a p{
  text-align: center;
  font-size: 10px;
  color: gray;
}
body {
margin: 0;
padding: 0;
}
#container {
width: 780px; /* ページの幅 */
margin: 0 auto; /* センタリング */
}
#container_left {
  padding-top: 68px;
  text-align: left;
  width: 120px;
  float: left;
}
#container_right {
  padding-top: 68px;
  text-align: right;
  width: 120px;
  float: right;
}
