<!DOCTYPE html>
<html>
<head>
  <title>ReviewApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    <p>
      <%= link_to image_tag("logo.jpg"), items_path %>
    </p>
  <nav>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.<br>
      <%= link_to 'プロフィール変更', edit_user_registration_path %> |
      <%= link_to "ログアウト", destroy_user_session_path, method: :get %>
    <% else %>
      <%= link_to "サインイン", new_user_registration_path %> |
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </nav>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="container_left">
  <a href="https://px.a8.net/svt/ejp?a8mat=2TAHNF+4W8BUA+FOQ+CCQSX" target="_blank">
  <img border="0" width="120" height="600" alt="" src="https://www25.a8.net/svt/bgt?aid=170130651296&wid=001&eno=01&mid=s00000002033002075000&mc=1"></a>
  <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=2TAHNF+4W8BUA+FOQ+CCQSX" alt="">
</div>
<div id="container_right">
  <div class="container_panel">
    <a href="https://rpx.a8.net/svt/ejp?a8mat=2TAHNF+4V1GMQ+2HOM+5ZMCH&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2F0ea62065.34400275.0ea62066.204f04c0%2Fa17013074213_2TAHNF_4V1GMQ_2HOM_5ZMCH%3Fpc%3Dhttp%253A%252F%252Fwww.rakuten.co.jp%252F%26m%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252F" target="_blank">
    <img src="http://hbb.afl.rakuten.co.jp/hsb/0eb4bbb0.174cb205.0eb4bbaa.95151395/" border="0"></a>
    <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=2TAHNF+4V1GMQ+2HOM+5ZMCH" alt="">
    <br>
    <a href="https://rpx.a8.net/svt/ejp?a8mat=2TAHNF+4V1GMQ+2HOM+6S4KX&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2F0eac8dc2.9a477d4e.0eac8dc3.0aa56a48%2Fa17013074213_2TAHNF_4V1GMQ_2HOM_6S4KX%3Fpc%3Dhttp%253A%252F%252Fbooks.rakuten.co.jp%252F%26m%3Dhttp%253A%252F%252Fbooks.rakuten.co.jp%252F" target="_blank">
    <img src="http://hbb.afl.rakuten.co.jp/hsb/0eb46e3c.be43ce35.0eb46e39.39a610d9/" border="0"></a>
    <img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=2TAHNF+4V1GMQ+2HOM+6S4KX" alt="">
    <br>
    <a href="https://px.a8.net/svt/ejp?a8mat=2TAHNF+4WTRG2+37HI+5ZEMP" target="_blank">
    <img border="0" width="120" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=170130651297&wid=001&eno=01&mid=s00000014967001005000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=2TAHNF+4WTRG2+37HI+5ZEMP" alt="">
    <br>
    <a href="https://px.a8.net/svt/ejp?a8mat=2TAHNF+4VMW8I+CW6+C8NROH" target="_blank">
    <img border="0" width="120" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=170130651295&wid=001&eno=01&mid=s00000001671074014000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=2TAHNF+4VMW8I+CW6+C8NROH" alt="">
  </div>
</div>
<div id="container">
  <%= yield %>
</div>
<footer>
  <a href="#top">
    <p>Let's review!</p>
  </a>
</footer>

</body>
</html>
